$font-color-1: #393939;
$font-color-2: #fff;
$font-color-3: #769a5a;
$font-color-4: #d5d4d3;
$font-color-5: #BABABA;
$font-color-6: #dadada;
$font-color-7: #727272;

$bg-color-0: #fbfbfb;
$bg-color-1: #f2f2f2;
$bg-color-2: #000;
$bg-color-3: #c2c2c2; $bg-color-3-hover: #7f7f7f;
$bg-color-4: #fff;
$bg-color-5: #fe7a5e; $bg-color-5-hover: #ff4922;
$bg-color-6: #f2f2f2; // footer // menu category
$bg-color-7: #e0e0e0; // footer input
$bg-color-8: #769a5a; $bg-color-8-hover: #5b7746; $bg-color-8-hover-2: #91b377;
$bg-color-9: #d5d4d3;
$bg-color-10: rgba(223,220,220,0.7);
$bg-color-11: #727272;
$bg-color-12: #f6f2ef;
$bg-color-13: #767a82;
$bg-color-14: #e6e6e6;