@charset "utf-8";

@import 'variables';
@import 'normalize';
@import 'mixins';
@import 'fonts';

body {
	@include ProximaNova
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	background-color: $bg-color-0;
	color: $font-color-1;
	//overflow-x: hidden;
}

p {
	//
	span {
		font-weight: 600;
	}
}

a {color: $font-color-1; text-decoration: none;}
a:hover {text-decoration: underline; text-decoration: none;}

//* {outline: 1px dashed yellowgreen};

.slick-slide {
	outline: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/**/

.svg-sprites {
	display: none;
}

/* grid */

.grid-row {
	font-size: 0;
	// {display: inline-block;}
	.division-1 {
		display: inline-block; font-size: 14px; vertical-align: top;
		width: 100%;
	}
	.division-2 {
		display: inline-block; font-size: 14px; vertical-align: top;
		width: 50%;
	}
	.division-3 {
		display: inline-block; font-size: 14px; vertical-align: top;
		width: 33.33333333%;
	}
	.division-4 {
		display: inline-block; font-size: 14px; vertical-align: top;
		width: 25%;
	}
	.division-10per {
		display: inline-block; font-size: 14px; vertical-align: text-bottom;
		width: 10%;
	}
	.division-20per {
		display: inline-block; font-size: 14px; vertical-align: top;
		width: 20%;
	}
	.division-30per {
		display: inline-block; font-size: 14px; vertical-align: top;
		width: 30%;
	}
	.division-40per {
		display: inline-block; font-size: 14px; vertical-align: top;
		width: 40%;
	}
	.division-60per {
		display: inline-block; font-size: 14px; vertical-align: top;
		width: 60%;
	}
	.division-70per {
		display: inline-block; font-size: 14px; vertical-align: top;
		width: 70%;
	}
	.division-80per {
		display: inline-block; font-size: 14px; vertical-align: top;
		width: 80%;
	}
	.division-90per {
		display: inline-block; font-size: 14px; vertical-align: top;
		width: 90%;
	}
}

/* inputs */

input[type="radio"] {display: none;}
input[type="radio"] + label {
	display: inline-block; cursor: pointer;
	position: relative;
	margin: 0 10px;
}
input[type="radio"] + label:before {
	content: "";
	display: inline-block;
	width: 18px; height: 18px;
	margin-right: 10px;
	vertical-align: middle;
	background: url(../img/icons/radio.png) no-repeat center;
	background-size: contain;
}
input[type="radio"]:checked + label:before {
	background: url(../img/icons/radio-checked.png) no-repeat center;
	background-size: contain;
}

input[type="checkbox"] {display: none;}
input[type="checkbox"] + label {
	display: inline-block; cursor: pointer;
	position: relative;
	margin: 0;
}
input[type="checkbox"] + label:before {
	content: "";
	display: inline-block;
	width: 18px; height: 18px;
	margin-right: 10px;
	vertical-align: middle;
	background: url(../img/icons/checkbox.png) no-repeat center;
	background-size: contain;
}
input[type="checkbox"]:checked + label:before {
	background: url(../img/icons/checkbox-checked.png) no-repeat center;
	background-size: contain;
}

textarea {
	min-height: 60px;
}

input[type="text"], textarea {
	@include Transition-All-03s;
	outline: none;
	border: 1px solid $font-color-6;
	padding: 9px 12px;
	font-size: 12px; font-weight: 200;
	color: $font-color-1;
	vertical-align: middle;
	//
	&:hover, &:focus {
		border: 1px solid $font-color-1;
	}
}
input[type="file"] {
	display: none;
}

.input-label {
	width: 150px;
	font-size: 12px; font-weight: 600;
	padding: 9px 0; display: inline-block;
	//
	i {color: $font-color-3;}
}
.input-w50px {
	width: 50px;
	margin-top: 10px;
	margin-left: 11px;
}
.input-w120px {
	width: 120px;
	margin-top: 10px;
}
.input-w300px {
	width: 300px;
	resize: none;
}
.input-w365px {
	width: 365px;
	resize: none;
}

.search-window {
	position: absolute; top: 0; left: 0;
	z-index: 9999;
	width: 100%;
	height: 100vh;
	//background: rgba(255,255,255,0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	@include Transition-All-03s;
	//
	visibility: hidden;
	opacity: 0;
}

.search-window.open {
	opacity: 1;
	visibility: visible;
}

.search-window__close-wrap {
	position: absolute; left: 0; top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(255,255,255,0.9);
}

.search-window__content {
	//
	position: relative;
	//
	input {
		border: none;
		border-bottom: 2px solid #000;
		outline: none;
		font-size: 70px;
		color: $font-color-3;
		padding: 20px 100px 20px 0px;
		font-weight: 200;
		background: url(../img/svg/search-bg.svg) no-repeat center right;
		background-size: 80px;
	}
	input + label {
		position: absolute;
		left: 0; top: -20px;
		font-size: 14px;
		color: $font-color-1;
		font-weight: 600;
	}
}


/* buttons */

.btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	@include Transition-All-03s;
	//
	&:hover {text-decoration: none;}
	&:active {text-decoration: none;}
}

.btn__main-filter-search {
	border: 1px $font-color-1 solid;
	color: $font-color-1;
	text-transform: uppercase; font-size: 12px; font-weight: 600;
	padding: 12px 26px;
	background-color: transparent;
	//
	&:hover {
		background-color: $font-color-1;
		color: $font-color-2;
	}
	//
	span[class^="font-icon-"] {
		margin-left: 10px;
	}
}

.btn__special-offers {
	border: 1px $bg-color-8 solid;
	color: $font-color-2;
	text-transform: uppercase; font-size: 12px; font-weight: 600;
	padding: 12px 26px;
	background-color: $bg-color-8;
	position: relative;
	overflow: hidden;
	//
	span {
		display: inline-block;
		width: 100%;
		height: 100%;
		@include Transition-All-03s;
	}
	//
	.font-icon-check {
		width: 100%; height: 100%;
		font-size: 220%; position: absolute; top: 0; left: -100%; line-height: 1.5;
		@include Transition-position-03s;
	}
	//
	&:hover {
		background-color: $bg-color-8-hover;
		color: $font-color-2;
		//
		span {transform: translateX(200%);}
		//
		& .font-icon-check {left: 0;}
	}
	//
	&:active {
		background-color:  $bg-color-8-hover-2;
		border: 1px $bg-color-8-hover-2 solid;
		color: $bg-color-8;;
	}
}

.btn__whote-2-black {
	border: 1px $font-color-1 solid;
	color: $font-color-1;
	text-transform: uppercase; font-size: 12px; font-weight: 600;
	padding: 10px 36px;
	background-color: transparent;
	//
	&:hover {
		background-color: $font-color-1;
		color: $font-color-2;
	}
}

.btn__green-2-green {
	border: 1px $bg-color-8 solid;
	color: $font-color-2;
	background: $bg-color-8;
	text-transform: uppercase; font-size: 12px; font-weight: 600;
	padding: 10px 36px;
	//
	&:hover {
		background-color: $bg-color-8-hover;
		color: $font-color-2;
	}
}

/* social */

.social-share {
	display: inline-block; 
}
.social-share__container {
	display: inline-block; vertical-align: middle;
	margin-right: 22px;
	//
	.icon:after {
		content: "";
		display: inline-block;
		width: 1px;
		height: 18px;
		background-color: $font-color-1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		margin-right: -13px;
		@include Transition-All-03s;
	}
	//
	.icon {margin-right: 10px; @include Transition-All-03s;}
	.count {margin-left: 10px; @include Transition-All-03s;}
	//
	&:last-child {margin-right: 0;}
	//
	&:hover {
		color: $bg-color-8;
		fill: $bg-color-8;
		//
		.icon:after {
			background-color: $bg-color-8;
		}
	}
}

/* /buttons */

.modal-window {display: none;}

.page-container {
	width: 1280px;
	margin: 0 auto;
}

header {
	background-color: $bg-color-1;
	@include ProximaNova;
	width: 100%;
	z-index: 9999;
}

.header-content {
	height: 38px;
}

.navigation {
	height: 100%; float: left;
	//
	ul {
		padding: 0; margin: 0; display: inline-block; list-style: none; height: 100%; font-size: 0;
		//
		li {
			position: relative;
		}
		li:after {
			content: "";
			display: inline-block;
			position: absolute; top: 0; bottom: 0; right: 0; margin: auto;
			width: 1px; height: 8px;
			background: $font-color-1;
		}
		li:first-child:after {display: none;}
		li:last-child:after {display: none;}
		//
		li {
			display: inline-block; height: 100%; font-size: 14px;
			//
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%; height: 100%;
				padding: 0 22px;
				box-sizing: border-box;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 11px;
				//@include Transition-All-03s;
				color: $font-color-1;
				font-weight: 400;
				position: relative;
				//
			}
			a:hover {
				//font-weight: 800;
				//text-shadow: 1px 0px 0px #393939;
				//transform: scale(1)
			}
		}
		li.inner-menu {
			a {
				background-color: $bg-color-2;
				color: $font-color-2;
				//
				span {
					display: inline-block;
					vertical-align: middle;
				}
				span.first-nav-btn:after {
					content: "";
					display: inline-block; width: 6px; height: 6px; margin-left: 10px;
					background: url(../img/icons/small-arrow-down.png) no-repeat center;
					background-size: contain;
					vertical-align: middle;
				}
			}
		}
		li.inner-menu.open {
			a {
				background-color: $bg-color-2;
				color: $font-color-2;
				//
				span {
					display: inline-block;
					vertical-align: middle;
				}
				//
				span.first-nav-btn:after {
					content: "";
					display: inline-block; width: 6px; height: 6px; margin-left: 10px;
					background: url(../img/icons/small-arrow-chrest.png) no-repeat center;
					background-size: contain;
					vertical-align: middle;
				}
			}
		}
		li {
			a {
				.nav-text-wrap {
					position: relative; overflow: hidden;
					//
					span {position: relative; display: inline-block;}
				}
			}
		}
		li {
			a {
				span {
					//transform: translateY(-100%);
					@include Transition-All-03s;
					letter-spacing: 1px;
				}
				span:before {
					content: attr(data-hover);
					position: absolute;
					top: 100%;
					font-weight: 800;
					letter-spacing: 0.6px;
				}
			}
			a:hover {
				.nav-text-wrap span {
					transform: translateY(-100%);
				}
			}
		}
		li a:after {
			content: ""
		}
		// inner-menu
		li.inner-menu.open ul {display: block;}
		li.inner-menu {
			ul {
				position: absolute;
				display: none;
				background: $bg-color-2;
				color: $font-color-2;
				z-index: 9999;
				//
				li {
					display: block; height: 56px; min-width: 230px;
					//
					a {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%; height: 100%;
						padding: 0px 22px;
						box-sizing: border-box;
						text-transform: uppercase;
						text-decoration: none;
						font-size: 11px;
						//@include Transition-All-03s;
						color: $font-color-2;
						font-weight: 400;
						//
						span {
							width: 100%; position: relative; color: #afafaf;
						}
						&:hover {
							span {
								color: #fff;
							}
						}
						span:after {
							content: "";
							display: inline-block; width: 8px; height: 5px; margin-left: 10px; float: right;
							position: absolute; top: 0; right: 0; bottom: 0; margin: auto;
							background: url(../img/icons/small-arrow-down.png) no-repeat center;
							background-size: contain;
							vertical-align: middle;
							@include Transition-All-03s;
							transform: rotate(-90deg)
						}
					}
				}
				li:after {
					display: none;
				}
				li:nth-of-type(1) {
					border-top: 1px solid #fbfbfb;
				}
				li {
					border-bottom: 1px solid #4c4c4c;
				}
				li:last-child {
					border-bottom: none;
				}
				li:hover {
					.nav-popup-content {display: block;}
				}
			}
		}
	}
}

.user-nav {
	height: 100%; position: relative;
	float: right; font-size: 0; vertical-align: top;
	//
	ul.user-nav-list {
		padding: 0; margin: 0; display: inline-block; list-style: none; height: 100%; font-size: 0; vertical-align: top;
		//
		li {
			display: inline-block; height: 100%; font-size: 14px; vertical-align: top; position: relative;
			//
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%; height: 100%;
				padding: 0 22px;
				box-sizing: border-box;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 11px;
				//@include Transition-All-03s;
				color: $font-color-1;
				font-weight: 400;
				@include Transition-All-03s;
				//
				.icon {
					fill: $font-color-1;
				}
				&:hover {color: $font-color-3;}
				&:hover .icon {fill: $font-color-3;}
			}
		}
		li:first-child:after {
			content: "";
			display: inline-block;
			position: absolute; top: 0; bottom: 0; right: 0; margin: auto;
			width: 1px; height: 8px; background: $font-color-1; 
		}
	}
}

.user-enter {

}

.search-btn {
	display: inline-block; vertical-align: top;
	width: 38px; height: 100%;
	@include Transition-All-03s;
	cursor: pointer;
	background: url(../img/svg/search82.svg) no-repeat center $bg-color-3;
	background-size: 14px 14px;
	background-color: $bg-color-3;
	//
	&:hover {
		background-color: $bg-color-3-hover;
	}
	//
}

/* icons */

.icon {
	display: inline-block; vertical-align: middle;
	@include Transition-Background-03s;
	position: relative;
}

.icon + span {vertical-align: middle;}

.i-basket {
	width: 15px; height: 15px; margin-right: 10px;
	//
	svg {
		width: 100%; height: 100%;
	}
}

.i-eye {
	width: 15px; height: 15px; margin-right: 10px;
	//
	object {width: 100%; height: 100%;}
}

.i-social, .i-phone {
	width: 34px; height: 34px;
	fill: $bg-color-9;
	//
	&:hover {
		fill: $bg-color-8;
	}
}

.eye-circle-card-hover, .basket-circle-card-hover {@include Transition-All-03s; opacity: 0;}
.i-card:hover .basket-circle-card-hover, .i-card:hover .eye-circle-card-hover {opacity: 1;}

.i-card {
	width: 50px; height: 50px; margin: 6px; cursor: pointer;
	svg {position: relative;}
}

.i-share {
	margin: 0px; cursor: pointer; display: inline-block;
	svg {
		width: 100%; height: 100%;
	}
}

.i-vk {
	width: 22px; height: 36px;
}

.i-fb {
	width: 18px; height: 36px;
}

.i-category {
	width: 34px; height: 34px;
	fill: $bg-color-9;
}
.i-info {
	width: 34px; height: 34px;
	fill: $bg-color-3;
}
.i-truck-car {
	width: 72px; height: 72px;
	display: inline-block;
	fill: $bg-color-3;
	transform: rotate(-90deg);
	position: absolute; margin-top: 10px;
}
.i-credit-card {
	width: 72px; height: 72px;
	display: inline-block;
	fill: $bg-color-3;
	transform: rotate(-90deg);
	position: absolute; margin-top: 10px;
}

.i-guarantees {
	width: 50px; height: 50px;
	display: inline-block;
	fill: $bg-color-3;
}
.i-category-list {
	width: 70px; height: 70px;
	fill: $bg-color-11;
}

.i-circle-chrest {
	width: 20px; height: 20px;
	fill: transparent; @include Transition-All-03s;
	stroke: $font-color-1; opacity: 0.4;
	//
	&:hover {
		opacity: 1;
	}
}
.i-upload {
	width: 30px; height: 30px;
	fill: $bg-color-3;
}
.i-counter {
	width: 20px; height: 20px;
	fill: transparent; @include Transition-All-03s;
	stroke: $font-color-1; opacity: 0.4;
	//
	&:hover {
		opacity: 1;
	}
}
.i-about-company {
	width: 50px; height: 50px;
	fill: $bg-color-9;
}

/* upper count */
.count-of-goods {
	display: inline-block;
	width: 1px;
	position: absolute;
	top: -8px; right: 0px;
	color: $font-color-3; font-style: normal;
	font-size: 11px; font-weight: 800;
}

.nav-popup-content {
	display: none;
	position: absolute;
	right: -757px; top: 0; width: 756px; min-height: 100px;
	background-color: $bg-color-2;
	color: $font-color-2;
	border-left: 1px solid #fbfbfb;
	font-size: 0;
}

.nav-popup-content__block {
	display: inline-block;
	width: 33.3%;
	font-size: 14px;
	padding: 24px 10px 24px 28px;
	box-sizing: border-box;
	//
	a {
		display: inline-block!important;
		text-align: left;
		width: auto!important;
		padding: 0!important;
		color: #afafaf!important;
		@include Transition-All-03s;
	}
	a:hover {
		text-decoration: underline!important;
		color: #fff!important;
	}
	a:after {
		display: none;
	}
}

.basket-main-popup {
	background-color: $bg-color-4;
	padding: 10px 14px;
	min-width: 240px; min-height: 100px;
	position: absolute;
	z-index: 10;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
	top: 56px; right: 0;
	font-size: 12px;
	//
	opacity: 0;
	visibility: hidden;
	@include Transition-Opacity-03s
	//
	&:before {
		content: "";
		display: inline-block;
		width: calc(100% + 10px);
		height: 20px;
		background: transparent;
		position: absolute; top: -20px; left: -5px;
	}
}
.basket-main-popup.open {
	opacity: 1;
	visibility: visible;
}

.basket-main-popup__above-the-line {
	padding: 10px 0;
	//
	a {
		float: left; 
		text-decoration: none;
		color: $font-color-1;
	}
}

.basket-main-popup__btn {
	@include Transition-Background-03s;
	@include Transition-Color-03s;
	background-color: $bg-color-5;
	color: $font-color-2;
	text-transform: uppercase;
	padding: 7px 0;
	width: 100%;
	font-size: 12px;
	font-weight: 800px;
	//
	&:hover {
		background-color: $bg-color-5-hover;
	}
}

.basket-main-popup__link-and-result {
	padding: 16px 0; margin: 0; display: inline-block; font-size: 0; width: 100%;
	//
	li {
		display: inline-block; width: 50%; font-size: 12px; vertical-align: middle;
	}
	li:first-child {
		text-align: left;
		//
		a {
			text-decoration: none;
			@include Transition-Color-03s
			color: $font-color-1;
			//
			&:hover {color: $font-color-3;}
			&:hover .icon {fill: $font-color-3;}
		}
	}
	li:last-child {
		text-align: right;
		//
		p {
			font-size: 12px; vertical-align: bottom;
			margin: 0; padding: 0;
			//
			span {
				font-size: 18px;
				font-weight: 800;
			}
		}
	}
}

.basket-main-popup__slider {
}

.slick-arrow-btn {
	width: 100%; height: 20px;
	border: 1px solid #DEDEDE;
	background-color: white;
	cursor: pointer;
	padding: 4px 0;
	text-align: center;
	box-sizing: border-box;
	@include NoSelect;
	outline: none;
	//
	&:hover {
		background-color: #DEDEDE;
	}
}

.basket-main-popup__slider .slick-prev {
	background: url(../img/icons/slider-arrow-up.png);
	background-repeat: no-repeat; 
	background-position: center;
}
.basket-main-popup__slider .slick-next {
	background: url(../img/icons/slider-arrow-down.png);
	background-repeat: no-repeat;
	background-position: center;
}

.goods-slider .slick-next {
	background: url(../img/svg/slider-arrow-right.svg) $bg-color-4;
	background-size: 10px 18px;
	background-repeat: no-repeat; 
	background-position: center;
}
.goods-slider .slick-prev {
	background: url(../img/svg/slider-arrow-left.svg) $bg-color-4;
	background-size: 10px 18px;
	background-repeat: no-repeat;
	background-position: center;
}

.basket-main-popup__slide {
}

.basket-main-popup__product-cell {
	box-sizing: border-box; border-bottom: 1px solid #e1e1e1; padding: 8px;
	//
	ul {
		width: 100%; height: 100%; padding: 0; margin: 0; list-style: none; font-size: 0; position: relative;
		//
		li {
			display: inline-block; font-size: 12px; width: 50%; vertical-align: bottom;
		}
		li:first-child {width: 25%; vertical-align: top;}
		li:last-child {width: 25%; vertical-align: bottom; text-align: center;}
	}
	//
	&:hover {
		background-color: $bg-color-1;
	}
}

.basket-main-popup__product-cell__img {
	box-sizing: border-box;
	border: 1px solid #f1f1f1;
	border: 1px solid #999;
	//
	img {width: 100%; height: 54px; object-fit: contain;}
}
.basket-main-popup__product-cell__text {
	padding: 0px 10px; margin: 0; vertical-align: bottom;
}
.basket-main-popup__product-cell__text.name {
	font-weight: 700; font-size: 14px; text-indent: nowrap; white-space: nowrap; overflow: hidden;
	//
	a {
		text-decoration: none; color: $font-color-1;
		//
		&:hover {
			text-decoration: underline;
		}
	}
}
.basket-main-popup__product-cell__text.type {font-weight: 200; font-size: 14px; text-indent: nowrap; white-space: nowrap; overflow: hidden;}
.basket-main-popup__product-cell__text.price {
	font-weight: 200; font-size: 14px; color: $font-color-4;
	margin: 10px 0 0 0;
	//
	span {
		color: $font-color-3;
		font-size: 16px; font-weight: 600;
	}
}
.basket-main-popup__product-cell__text.quantity {
	font-weight: 200; font-size: 14px; padding: 0px;
	//
	span {font-weight: 600;}
}

.basket-popup-close-btn {
	display: inline-block;
	width: 10px; height: 10px; 
	background: url(../img/icons/basket-popup-close.png) no-repeat center;
	background-size: contain;
	position: absolute; top: 0; right: 0;
}


/* footer */

footer {
	background-color: $bg-color-6;
	padding: 28px;
	color: $font-color-1;
	font-size: 14px;
	margin-top: 40px;
	//
	a {
		color: $font-color-1;
		text-decoration: none;
		font-weight: 400;
		//
		&:hover {
			text-decoration: underline;
		}
	}
	//
	p {padding: 0; margin: 0; line-height: 20px;}
	//
	h4 {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		margin-top: 0;
	}
}

ul.footer-ul-cells {
	list-style: none; display: inline-block; padding: 0; margin: 0; font-size: 0;
}

li.footer-li-cells {display: inline-block; font-size: 12px; vertical-align: top;}

ul.footer-ul-list {
	padding: 0; margin: 0; font-size: 0; list-style: none; vertical-align: top;
}

li.footer-li-list {font-size: 12px; padding-right: 60px; padding-bottom: 12px;}

ul.footer-ul-cells:first-child {float: left;}
ul.footer-ul-cells:last-child {
	float: right; text-align: right;
	//
	li.footer-li-list {padding-right: 0;}
	p, a {color: $font-color-5; text-align: left; display: inline-block;}
}

/* /footer */

/* forms */

input {outline: none;}

.subscribe {
	display: inline-block; font-size: 0; padding: 10px 0;
	//
	input[type="text"] {
		width: 300px;
		display: inline-block;
		background-color: $bg-color-7;
		padding: 10px 16px;
		border: none;
		font-size: 12px;
		@include Transition-All-06s;
	}
	input[type="text"]:hover, input[type="text"]:focus {
		background-color: $bg-color-4;
	}
	input[type="submit"] {
		width: 34px;
		display: inline-block;
		padding: 10px 16px;
		border: none;
		font-size: 12px;
		background: url(../img/svg/light-arrow.svg) no-repeat center $bg-color-8;
		background-size: 18px 14px;
	}
}

/* /forms */

.logo-mini {
	display: inline-block;
}

// title
.title {
	text-align: center; padding: 50px 0 10px 0;
	//
	h3 {
		font-weight: 600; font-size: 30px; letter-spacing: 3px; margin: 0; text-transform: uppercase;
	}
	p {

	}
}

/* subheader */

.subheader {
	padding: 30px 0; font-weight: 700;
	border-sizing: border-box;
	//

	//
	.division-3 {
		vertical-align: middle;
		text-align: center;
	}
	.division-3:first-child {text-align: left;}
	.division-3:last-child {text-align: right;}
}

.logo {display: inline-block;}

.logo + h1 {margin: 4px 0; font-size: 14px;}

.social-links {
	display: inline-block; padding: 0; margin: 0; font-size: 0;
	//
	li {
		display: inline-block; font-size: 14px; margin-left: 12px;
	}
}

.phone-link {
	display: inline-block; padding: 0; margin: 0; font-size: 0;
	//
	li {
		display: inline-block; font-size: 14px; margin-left: 18px;
	}
}

.page-navigation {
	display: inline-block;
	//
	ol {
		list-style: none; padding: 0; font-size: 0;
		//
		li {
			display: inline-block; font-size: 14px; text-align: center; vertical-align: middle; margin: 0 5px;
			//
			a {vertical-align: middle; font-size: 18px; display: inline-block; padding: 8px 6px; color: $font-color-1;}
			a:hover {color: $font-color-3; text-decoration: none;}
		}
		.bpn-next-link, .bpn-prev-link {
			a {
				width: 4px; height: 8px; padding: 0;
			}
		}
		.bpn-next-link {
			a {
				background: url(../img/icons/pagination-arrows.png) no-repeat -4px 0px;
				background-size: 8px 16px;
			}
			& a:hover {
				background: url(../img/icons/pagination-arrows.png) no-repeat -4px -8px;
				background-size: 8px 16px;
			}
		}
		.bpn-prev-link {
			a {
				background: url(../img/icons/pagination-arrows.png) no-repeat 0px 0px;
				background-size: 8px 16px;
			}
			& a:hover {
				background: url(../img/icons/pagination-arrows.png) no-repeat 0px -8px;
				background-size: 8px 16px;
			}
		}
		.bpn-current {
			//border: 1px solid $font-color-3;
			//border-radius: 50%;
			a {color: $font-color-3;}
		}
	}
}

/* breadcrumbs */

.breadcrumbs {
	display: inline-block; font-size: 0; padding-left: 10px; list-style: none; text-transform: uppercase;
	//
	li {
		display: inline-block;
		font-size: 12px; margin-right: 10px;
		color: $bg-color-3; font-weight: 700;
		//
		a,p {color: $bg-color-3;}
		//
		a {
			&:hover {text-decoration: none; color: $font-color-3;}
		}
	}
	li.current-page {
		a {
			color: $font-color-1;
		}
	}
}

.breadcrumbs_wrap {
	text-align: center;
}

/* Блоки 3-х главных категорий на главной и выпадающее меню */

.category-main-container {
	position: relative;
}

.category-main-block {
	width: 100%; height: 336px; position: relative; vertical-align: top;
	box-sizing: border-box; padding-right: 6px;
	@include Transition-All-03s;
	//
	&:before {
		content: "";
		display: inline-block; width: 220px; height: 100%;
		background-color: $bg-color-10;
		position: absolute; top: 0; left: 0;
	}
	&:after {
		content: "";
		display: inline-block; width: 100%; height: 100%;
		background-color: $bg-color-10;
		position: absolute; top: 0; left: 0;
		@include Transition-All-03s;
		opacity: 0;
	}
	&.hover:after {
		opacity: 1;
	}
	//
	img {
		width: 100%; height: 100%;
		object-fit: cover;
	}
}
.category-main-block__text {
	padding: 36px; position: absolute; top: 0; left: 0;
	//
	h2 {
		font-weight: 600; font-size: 30px; letter-spacing: 3px; margin-top: 0; margin-bottom: 16px; position: relative;
		//
		&:after {
			content: "";
			display: block;
			width: 30px; height: 1px;
			background-color: $font-color-1;
			margin-top: 12px;
			//position: absolute; top: 0; left: 0;
		}
	}
	p {
		font-weight: 100;
	}
}

.category-main-block__menu {
	display: none;
	//
	//width: 1280px;
	width: 100%;
	min-height: 400px;
	max-height: 400px;
	position: absolute; top: 130px; left: 0;
	background-color: $bg-color-6;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
	overflow-x: hidden;
	z-index: 100;
	//overflow-y: auto;
	//
}

.category-main-block__menu.open {
	display: block;
	animation: show-hide-menu  0.5s ease-in-out;
}

.category-main-block__menu__basic {
	width: 100%; min-height: 100%; max-height: 400px;
	position: absolute; top: 0px; left: 0;
	//background-color: #666;
	@include Transition-All-03s;
}

.category-main-block__menu__submenu {
	width: 100%; min-height: 100%; max-height: 400px;
	position: absolute; top: 0px; left: 100%;
	//background-color: #999;
	@include Transition-All-03s;
}

.category-main-block__menu__submenu__content {
	padding: 34px; box-sizing: border-box;
	/*float: right;*/ min-height: 400px;
	width: 88%; height: 100px;
	position: absolute; right: 0; top: 0;
	//
	.grid-row {
		padding: 20px 0;
	}
}

.category-main-block__menu__submenu__content__list-block {
	width: 25%; float: left;
	//
	ol {
		padding: 0; margin: 0; list-style: none; margin-bottom: 30px;
		//
		li {
			margin-bottom: 10px; font-weight: 400; font-size: 14px;
			//
			&:first-child {
				margin-bottom: 30px; font-weight: 800; font-size: 12px;
			}
			//
			a:hover {
				text-decoration: none;
			}
		}
	}
}

.category-main-block__menu__submenu__content_title {
	svg {fill: $font-color-1; stroke: $font-color-1;}
	h3 {
		margin: 0; padding: 0; text-transform: uppercase;
		margin-left: 16px;
		display: inline-block; vertical-align: middle; font-size: 14px; font-weight: 800;
	}
}

.category-main-block__menu__submenu__back {
	display: inline-block; box-sizing: border-box;
	padding: 34px 34px;
	width: 12%;
	height: 100%;
	position: absolute; left: 0; top: 0;
	text-align: center;
	//
	&:hover {
		background-color: $bg-color-7;
		text-decoration: none;
	}
	//
	span {font-size: 14px; font-weight: 800;}
}

.category-main-block__menu__arrow-for-link {
	display: inline-block; width: 9px; height: 12px; vertical-align: middle;
	//background: url(../img/svg/link-arrow.svg) no-repeat center;
	//background-size: contain;
	margin-left: 4px;
	stroke: $font-color-1;
	//
}

.c-m-b__m__a-f-l-back {
	display: inline-block; width: 9px; height: 12px; vertical-align: middle;
	background: url(../img/svg/link-arrow.svg) no-repeat center;
	background-size: contain;
	transform: rotate(180deg);
	margin-right: 4px;
}

.category-main-block__menu_link {
	display: inline-block; @include Transition-All-03s; padding: 34px;
	//
	span {margin-left: 14px;}
	svg, span {@include Transition-All-03s;}
	//
	a {display: inline-block; color: $font-color-1; font-size: 12px; letter-spacing: 2px; font-weight: 800; text-transform: uppercase;}
	a:hover {text-decoration: none;}
	a:hover svg, a:hover span {fill: $bg-color-8; color: $bg-color-8; }
	a:hover .category-main-block__menu__arrow-for-link svg {stroke: $bg-color-8;}
}

/* animation */

.animation__show-menu {
	animation: show-hide-menu 0.5s ease-in-out;
	@include Transition-All-03s;
}

/* goods card */

.goods-slider {
	box-sizing: border-box; padding: 0 30px; margin: 20px 0;
	//
	.slick-arrow {
		position: absolute;
		display: inline-block;
		height: 100%; width: 30px;
		border: 0;
		color: transparent;
		outline: none;
	}
	.slick-prev {
		top: 0; left: 0px;
	}
	.slick-next {
		top: 0; right: 0px;
	}
}

.slide-wrap {
	text-align: center;
}

.main-product-card {
	display: inline-block; position: relative; text-align: left;
	background-color: $bg-color-4;
	width: 230px;
	height: 356px;
	overflow: hidden;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	@include Transition-All-03s; 
	//
	&:hover {
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	}
	//
	&:hover .main-product-card__label {
		top: 0px;
	}
}

.main-product-card__label {
	width: 100%; height: 135px;
	position: absolute; top: -135px; left: 0; z-index: 100;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	@include Transition-All-03s;
	//
	&:before {
		content: "";
		display: block; position: absolute; bottom: 5px; left: 0; margin-left: -75px;
		width: 380px; height: 380px;
		background-color: rgba(255, 255, 255, 0.9);
		border-radius: 100%;
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	}
}

.main-product-card__label__buttons {
	display: inline-block; position: relative;
	//
	a:hover {text-decoration: none;}
}

.main-product-card__description {
	display: inline-block; box-sizing: border-box;
	width: 100%; height: 110px;
	padding: 10px 30px; overflow: hidden;
}

.main-product-card__img-container {
	display: inline-block; position: relative;
	width: 100%; height: 240px;
	//
	img {object-fit: cover; width: 100%; height: 100%;}
}

.main-product-card.stock .main-product-card__img-container:before {
	content: "%"; color: #fff;
	display: inline-block; text-align: center;
	position: absolute; top: 10px; right: 10px;
	width: 30px; height: 30px; line-height: 30px; font-weight: 800; font-size: 18px;
	border-radius: 50%;
	background-color: #fe7a5e;
}
.main-product-card.stock .main-product-card__price p span {color: #fe7a5e;}

.main-product-card__name {
	a {
		font-weight: 700; font-size: 14px; text-decoration: none;
		//
		&:hover {text-decoration: underline;}
	}
}
.main-product-card__type {
	a {
		font-weight: 200; font-size: 14px; text-decoration: none;
	}
}
.main-product-card__price {
	p {
		margin: 0px 0; vertical-align: baseline;
		font-weight: 700; font-size: 14px; color: $font-color-4;
		//
		span {vertical-align: baseline; font-size: 24px; color: $bg-color-8; font-weight: 800; margin-left: 4px;}
	}
}
.main-product-card__old-price {
	p {
		margin: 0px 0; vertical-align: baseline;
		font-weight: 700; font-size: 11px; color: $font-color-4;
		//
		span {margin-left: 4px; font-size: 14px; vertical-align: baseline; text-decoration: line-through;}
	}
}

/* main-filter */

.main-filter {
	& > .grid-row:first-child {
		padding: 30px 0;
		//
		.division-2:first-child {text-align: left;}
		.division-2:last-child {text-align: right;}
	}
}

.main-filter__container {
	//background-color: #000;
}

// three-tabs

.animate-tabs {
	.tabs__menu {
		padding: 0; margin: 0;
		list-style: none;
		font-size: 0;
		width: 100%;
		margin-bottom: -1px;
		//
		.tabs__menu-item {
			display: inline-block;
			vertical-align: top;
			font-size: 20px;
			//
			a {
				display: inline-block;
				box-sizing: border-box;
				width: 100%;
				padding: 20px 0px 20px 60px;
				text-decoration: none;
				font-size: 14px;
				font-weight: 600;
				text-transform: uppercase;
				color: $font-color-6;
				border-bottom: 1px solid $font-color-6;
			}
			&:hover a {
				border-bottom: 1px solid $font-color-1;
				color: $font-color-1;
			}
			&.active a {
				border-bottom: 1px solid $font-color-1;
				color: $font-color-1;
			}
		}
		.tabs__menu-item__division-3 {
			width: 33.33333333%;
		}
	}
	.tabs__content {
		padding: 50px 0;
		vertical-align: top;
		//
		.tabs__content-item {width: 100%; min-height: 600px;}
	}
}

.tabs-wrap {
	width: 100%;
	//min-height: 100px;
	position: relative;
}

.tabs__menu__wrap {
	width: 100%;
	border-bottom: 1px solid $font-color-6;
}

//

.list-header {
	font-size: 14px;
	font-weight: 600;
	margin: 30px 0;
}

.ol-list {
	list-style: none;
	padding-left: 60px;
	//
	span {
		font-weight: 600;
	}
}

.info-block {
	background: $bg-color-1;
	padding: 26px 38px 26px 38px;
	max-width: 300px;
	box-sizing: border-box;
	margin: 0 auto;
	//
	span {
		font-weight: 600;
	}
}

.title-mark {
	transform: rotate(90deg);
	position: relative; margin-left: 12px;
	//
	span {
		display: inline-block;
		margin: 0; padding: 0;
		font-weight: 600;
		font-size: 72px;
		color: $font-color-6;
		text-transform: uppercase;
		letter-spacing: 10px; 
		padding-left: 90px;
		//transform: rotate(90deg);
	}
}

// payment

.payment-step {
	@include Display-Flex-Center-Top;
	padding: 20px 0;
}

.payment-step__content {
	max-width: 220px;
}

.payment-step__content__number {
	display: inline-block; vertical-align: bottom;
	font-size: 72px;
	color: $font-color-6; line-height: 62px; font-weight: 600;
}
.payment-step__content__icon {
	display: inline-block;
	width: 44px; height: 44px;
	fill: $bg-color-3; vertical-align: bottom;
	margin-left: 10px;
}
.payment-step__content__title {
	color: $font-color-1;
	font-weight: 600;
	font-size: 14px;
}

// guarantees

.guarantees-list {

}

.guarantees-list__item {
	//padding: 20px 0;
}

.guarantees-list__icon {
	text-align: center;
	padding: 20px 0;
}

.guarantees-list__text {
	padding: 20px 0;
	//
	p {
		/*margin: 0;*/ padding: 0; font-weight: 200;
	}
	p:first-child {margin-top: 0;}
}

.guarantees-list__text_info {
	font-style: italic;
	border-top: 1px solid $font-color-6;
}

// categories catalog

.categories-catalog {
	
}

.categories-catalog__item {
	display: inline-block; vertical-align: top; position: relative;
	width: 294px; height: 294px;
	background: $bg-color-8;
	margin-right: 30px; margin-bottom: 25px; margin-top: 25px;
	background-repeat: no-repeat;
	background-size: cover;
	@include Transition-All-03s
	box-sizing: padding-box;

}
.categories-catalog__item:before {
	content: '';
	position: absolute; z-index: 0;
	display: block;
	width: 100%; height: 100%;
	background-color: rgba(255,255,255,0.5);
	@include Transition-All-03s
}
.categories-catalog__item:hover:before {
	background-color: rgba(135,163,111,0.8);
}

.categories-catalog__item:nth-of-type(4n) {margin-right: 0px;}

.categories-catalog__item__content {
	@include Transition-All-03s;
	@include Display-Flex-Center;
	width: calc(100% - 50px); height: calc(100% - 50px); position: relative;
	margin: 24px;
	background-color: rgba(255,255,255,1);
}

.categories-catalog__item:hover .categories-catalog__item__content {
	background-color: rgba(255,255,255,0.3);
}

.categories-catalog__item__content__box {
	text-align: center; max-width: 140px; overflow: hidden;
}

.categories-catalog__item__content__box__slider {
	width: 100%; margin-bottom: 22px; position: relative; overflow: hidden;
}

.categories-catalog__item__content__box__img {
	@include Transition-All-03s;
}

.categories-catalog__item__content__box__info {
	color: $font-color-2; width: 100%; 
	position: absolute; top: 0; left: 100%;
	@include Transition-All-03s;
	//
	p {margin: 0; padding: 0; span.font-icon-arrow-right {font-size: 10px; transform: rotate(90deg);}}
}

.categories-catalog__item__quantity {
	font-size: 36px; font-weight: 600;
}

.categories-catalog__item__content__box__text {
	font-weight: 600; padding: 20px 0; position: relative;
	color: $font-color-1; letter-spacing: 2px;
	@include Transition-All-03s;
	//
	p {margin: 0; padding: 0;}
	//
	&:before {
		content: ""; @include Transition-All-03s;
		width: 36px; height: 1px;
		background-color: #000;
		position: absolute; top: 0; left: 50%; margin-left: -18px;
	}
	&:after {
		content: ""; @include Transition-All-03s;
		width: 36px; height: 1px; 
		background-color: #000;
		position: absolute; bottom: 0; left: 50%; margin-left: -18px;
	}
}

//animation category elements

.categories-catalog__item:hover .categories-catalog__item__content__box__info {
	left: 0;
}
.categories-catalog__item:hover .categories-catalog__item__content__box__img {
	transform: translate(-100%,0);
}
.categories-catalog__item:hover .categories-catalog__item__content__box__text {
	color: $font-color-2; text-decoration: none!important;
	//
	&:before {background-color: #fff;}
	&:after {background-color: #fff;}
}
.categories-catalog__item a:hover {text-decoration: none!important;}

.categories-catalog__item:hover .i-category {
	fill: #fff;
}

//

#blog__slider {
	//width: 100%; height: 410px;
	//
	.slick-arrow {
		position: absolute; z-index: 1; color: transparent;
		border: none; width: 50px; height: 50px; opacity: 0.6;
		@include Transition-All-03s;
	}
	.slick-arrow:hover {opacity: 1;}
	.slick-next {
		background: url(../img/svg/slider-arrow-right.svg) transparent;
		background-size: contain;
		background-repeat: no-repeat; 
		background-position: center;
		top: 50%; margin-top: -25px; right: 60px;
	}
	.slick-prev {
		background: url(../img/svg/slider-arrow-left.svg) transparent;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		top: 50%; margin-top: -25px; left: 60px;
	}
}

.blog__slide {
	//@include Display-Flex-Center; 
	//*width: 100%; height: 410px;*/ background-size: cover;
}

.blog__slide__content {
	//display: inline-block;
	width: 100%; height: 410px; background-size: cover;
	@include Display-Flex-Center; 
}

.blog__slide__info {
	display: inline-block; position: relative;
	max-width: 430px; max-height: 300px; overflow: hidden;
	background-color: $bg-color-12;
	padding: 34px;
	text-align: center;
	text-decoration: none;
	color: $font-color-1;
	//
	&:hover, &:active {text-decoration: none;}
}
.blog__slide__info__title {
	position: relative;
	padding-bottom: 18px;
	text-transform: uppercase;
	h3 {padding: 0; margin: 0;}
	//
	//
	&:after {
		content: "";
		width: 30px; height: 1px;
		background-color: $font-color-1;
		position: absolute; bottom: 0; left: 50%; margin-left: -15px;
	}
}
.blog__slide__info__text {
	margin: 20px 0;
	//
	p {margin: 0;}
}

.blog__items {
	margin: 50px 0; font-size: 0;
}

.blog__item {
	display: inline-block;
	width: 33.33333333%; height: 424px;
	overflow: hidden;
}

.blog__item__container {
	width: 370px;
	text-align: left;
}
.blog__item__container:nth-of-type(3n) {
	text-align: right;
}


.blog__item__img {
	height: 230px;
	//
	img {
		width: 100%; height: 100%;
		-o-fit-object: cover;
	}
}
.blog__item__title {
	text-transform: uppercase;
	font-weight: 600; 
	height: 48px; overflow: hidden;
	//
	h2 {
		margin: 15px 0;
		font-size: 24px;
	}
}
.blog__item__text {
	font-size: 14px;
	height: 60px; overflow: hidden;
	//
	p {margin: 10px 0;}
}
.blog__item__footer {
	.division-2:last-child {text-align: right;}
}

.blog__pagination {
	text-align: right;
}

// article

.article {}

.article__title {
	text-align: center;
	//
	h2 {
		font-weight: 600;
		font-size: 30px;
		letter-spacing: 2px;
	}
}
.article__shared {
	text-align: center;
}

.article__container {
	width: 100%;
	padding: 50px 0;
}

.article__img {
	width: 100%; height: 416px;
	//
	img {
		width: 100%; height: 100%;
		-o-fit-object: cover;
	}
}

.article__content {
	width: 900px; margin: 0 auto;
	padding: 20px 0;
	//
	p {padding-right: 20px;}
	img {width: 100%; height: 400px; margin: 10px 0;}
	h3 {font-weight: 500; font-size: 24px; padding-left: 100px}
}

.article__navigation {
	text-align: center;
	//
	ul {
		display: inline-block; font-size: 0;
		//
		li {
			display: inline-block; font-size: 14px; font-weight: 400; position: relative;
		}
		//
		li:first-child {
			margin-right: 26px;
			//
			a:before {
				content: "";
				width: 10px; height: 10px;
				display: inline-block;
				background: url(../img/svg/triangle-left.svg) no-repeat center;
				margin-right: 10px;
			}
		}
		li:first-child:after {
			content: "";
			display: inline-block;
			position: absolute; top: 0; bottom: 0; right: 0; margin: auto; margin-right: -26px;
			width: 1px; height: 12px;
			background: $font-color-1;
		}
		li:last-child {
			margin-left: 26px;
			//
			a:after {
				content: "";
				width: 10px; height: 10px;
				display: inline-block;
				background: url(../img/svg/triangle-right.svg) no-repeat center;
				margin-left: 10px;
			}
		}
	}
}

/* basket */

.basket__container {

}

.basket__table {
	margin-top: 40px;
}
.basket__table__row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.basket__table__header {
	background: $bg-color-1;
	padding: 14px 30px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}
.basket__table__footer {
	background: $bg-color-1;
	padding: 14px 30px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 24px; font-weight: 600;
	//
	p {margin: 0;}
}
.basket__table__item {
	border-bottom: 1px solid $bg-color-1;
	padding: 14px 30px;
}
.basket__table__cell {
	display: flex;
	//
	img {width: 70px; height: 70px;}
}
.basket__table__cell__1 {
	width: 10%;
	justify-content: center; align-items: center;
}
.basket__table__cell__2 {
	width: 35%;
	justify-content: flex-start; align-items: center;
	//
	.basket__table__info {}
	.basket__table__name {width: 100%; font-weight: 200;}
	.basket__table__article {
		width: 100%; font-style: 12px;
		font-style: italic; font-weight: 200;
		//
		span {font-weight: 200;}
	}
}
.basket__table__cell__3 {
	width: 15%;
	justify-content: flex-start; align-items: center;
	//
	.basket__table__price {
		font-weight: 200; font-size: 24px;
		//
		& + span {font-weight: 200; font-size: 24px;}
	}
}
.basket__table__cell__4 {
	width: 20%;
	justify-content: center; align-items: center;
}
.basket__table__cell__5 {
	width: 15%;
	justify-content: flex-start; align-items: center;
	//
	.basket__table__price-end {
		font-weight: 200; font-size: 24px;
		//
		& + span {font-weight: 200; font-size: 24px;}
	}
}
.basket__table__cell__6 {
	width: 5%;
	justify-content: center; align-items: center;
}

.basket__table__buttons {
	display: block!important;
	text-align: right;
	padding: 30px 0;
	//
	.btn__green-2-green {
		margin-left: 30px;
	}
}

.item-counter {
	display: inline-block; padding: 0; margin: 0; list-style: none; font-size: 0;
	//
	li {
		display: inline-block; font-size: 14px; margin: 5px; vertical-align: middle;
	}
	.item-counter-input {
		text-align: center;
		background: transparent;
		border: none;
		width: 50px;
		font-weight: 800;
		font-size: 14px;
	}
}

/* ordering */

.ordering {
	
}

.ordering__container {
	width: 80%;
}

.ordering__container__steps {
	font-size: 0;
}
.ordering__container__step {
	display: inline-block; padding: 12px 100px 12px 20px; position: relative;
	font-size: 14px;
	font-weight: 600;
	background-color: transparent;
	color: $font-color-6;
	//
	p {margin: 0; padding: 0;}
	//
	&:first-child:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 20px 0 20px 20px;
		border-color: transparent transparent transparent #ffffff;
		top: 0; right: -20px;
		z-index: 9;
	}
	&:last-child {
		padding-left: 40px;
	}
}
.ordering__container__step.active {
	background-color: $bg-color-1;
	color: $font-color-1;
	//
	&:first-child:before {
		border-color: transparent transparent transparent $bg-color-1;
	}
}
//

.ordering__content__step {
	//
	p {margin: 20px 0;}
}

.ordering__content__row-padding {
	padding: 16px 0;
}

.content__title__small {
	text-transform: uppercase; position: relative;
	padding: 10px 0; margin-bottom: 10px;
	//
	&:after {
		content: "";
		display: inline-block; position: absolute; bottom: 0; left: 0;
		width: 50px; height: 1px;
		background-color: $bg-color-13;
	}
	//
	h2 {
		font-size: 18px; padding: 0; margin: 0;
	}
}

.ordering__content__wrap {}

.ordering__content__form-end {
	.division-2:first-child {
		text-align: left;
		//
		p {margin: 0; span {color: #769a5a;}}
	}
	.division-2:last-child {
		text-align: right;
	}
}

.ordering__content__table {
	table {
		width: 100%; font-size: 14px; font-weight: 200;
		//
		tr:first-child {
			font-weight: 600; text-transform: uppercase;
			font-size: 12px;
		}
		tr:last-child {
			border-top: 1px solid $bg-color-14;
			//
			td:last-child {
				text-align: right;
			}
		}
		//
		tr td {padding: 12px 0;}
		//
		tr td:first-child {
			width: 40%;
		}
		//
		a {
			color: $font-color-3;
		}
	}
}

.name-of-file {
	display: inline-block; margin: 0 20px;
}

.ordering__content__upload-file {margin-left: 20px;}

// get project

.get-project {
	position: relative;
	height: 450px;
}

.get-project__container {
	//
	img {
		display: inline-block; position: absolute; bottom: 0; right: 0; z-index: 1;
		width: 750px; height: 450px;
		object-fit: cover;
	}
}
.get-project__container__text-block {
	float: left; position: absolute; bottom: 0; left: 0; z-index: 2;
	width: 674px;
	padding: 0 70px 60px 70px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}
.get-project__container__text-block-wrap {
	margin-top: -40px;
}

.get-project__container__text-block__title {
	padding: 20px 0; font-weight: 600; font-size: 24px; position: relative;
	//
	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50px;
		height: 1px;
		background-color: #767a82;
	}
	//
	h2 {
		padding: 0; margin: 0;
	}
}
.get-project__container__text-block__text {
	padding: 10px 0;
	//
	p {
		font-size: 14px;
		font-weight: 200;
	}
}
.get-project__form {
	width: 770px!important; background-color: $bg-color-4;
	text-align: center;
	margin-bottom: 30px;
	padding: 0 120px;
	box-sizing: border-box;
	//
	h5 {
		font-weight: 600;font-size: 14px; padding: 40px 0 30px 0; margin: 0;
	}
}

.get-project__upload-file {
	background-color: $bg-color-0;
	color: $bg-color-3;
	font-size: 12px; font-weight: 200;
	padding: 10px;
	text-align: center;
	width: 100%;
	display: inline-block;
	cursor: pointer;
	//
	.name-of-file {width: 100%; margin: 0;}
}

.get-project__upload-file__wrap__left {
	text-align: left;
}

.get-project__upload-file__wrap__center {
	text-align: center;
	padding: 20px 0;
}

/* contacts */

.contacts {}

.contacts__map {
	width: 100%;
	height: 400px;
}

.contacts__container {
	padding: 20px 0 20px 0;
}

/* about-company */

.about-company {
	position: relative;
	height: 650px;
}

.about-company__container {
	//
	img {
		display: inline-block; position: absolute; bottom: 0; right: 0; z-index: 1;
		width: 534px; height: 650px;
		object-fit: cover;
	}
}
.about-company__container__text-block {
	float: left; position: absolute; top: 70px; left: 0; margin: auto; z-index: 2;
	width: 826px;
	padding: 0 140px 60px 70px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.about-company__container__text-block-wrap {
	margin-top: -40px;
}

.about-company__container__text-block__title {
	padding: 20px 0; font-weight: 600; font-size: 24px; position: relative;
	//
	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50px;
		height: 1px;
		background-color: #767a82;
	}
	//
	h2 {
		padding: 0; margin: 0;
	}
}
.about-company__container__text-block__text {
	padding: 10px 0;
	//
	p {
		font-size: 14px;
		font-weight: 200;
	}
}

.about-company__container__text-block__cells {
	padding: 20px 0;
}

.about-company__container__text-block__cell {
	padding: 20px 0;
	//
	p {
		margin: 0; padding: 0;
		font-weight: 200; font-size: 14px;
	}
}

.about-company__container__text-block__cell-center {
	text-align: center;
}

.about-company__container__text-block__cell-left {
	text-align: left;
}